@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 60px calc(100% - 60px);
  background-color: rgb(37, 37, 37);
}

header {
  width: 100%;
  padding: 8px 8px 4px 8px;
  background-color: rgb(177, 231, 26);
  border-bottom: 4px solid rgb(119, 155, 20);

  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
    color: #fff;
}

.App-Content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 200px calc(100% - 200px);
}